.tooltip {
  color: white;
  letter-spacing: 0.15px;
  color: rgb(255, 255, 255, 0.8);
}

.astro-symbol {
  font-family: 'Hamburg';
}

.title {
  font-size: clamp(14px, 0.875rem, 18px);
  font-weight: 500;
}

.mb-1 {
  margin-bottom: clamp(10px, 0.65rem, 16px);
}

.text {
  font-size: clamp(12px, 0.75rem, 16px);
  font-weight: 400;
}

.tooltip-divider {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 6px 0;
}
